@import "../../styles/variables.scss";

.comments {
  &__content {
    width: 95%;
    margin-top: 10px;
    // margin-left: 10%;
    padding-left: 3px;
    background-color: $confession-text-background;
    text-align: left;
    border-radius: .25rem;
  }
}


.test {
  color: $confession-font;
}
