.comments {
  &__content {
    width: 95%;
    margin-top: 10px;
    // margin-left: 10%;
    padding-left: 3px;
    background-color: rgb(221, 217, 217);
    text-align: left;
    border-radius: .25rem;
  }
}


.test {
  color: white;
}