@import "../../styles/variables.scss";

.comment-form {
  width: 90%;
  margin-left: 5%;

  &__label{
    text-align: left;
    color: $confession-font;
  }

  &__input {
    background-color: $confession-text-background !important;
    color: $confession-font !important;
  }

  &__submit {
    margin-top: 5px;
  }
}

.submit-div {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -2em;
}

.comment-form__submit {
  background-color: $button !important;
  border-color: $button !important;
}

.comment-form--error {
  color: rgba(253, 0, 0, 0.932);
  margin-left: 35%;
}