@import "../../styles/variables.scss";

.comments {
  &__list {
    width: 100%;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $confession-background;
    margin-bottom: 10px;
  //   flex-flow: row wrap;
  }
}