@import "../../styles/variables.scss";

// font-family: 'Oswald', sans-serif;
// font-family: 'Quattrocento Sans', sans-serif;
// font-family: 'Sintony', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
.comments {
  &__list {
    width: 100%;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $confession-background;
    margin-bottom: 10px;
    font-family: 'Sintony', sans-serif;
  }
}