$font-family: "Source Sans Pro", sans-serif;

$white: #fff;
$black: #000;

$primary-color: #222f3e;
$secondary-color: #54a0ff;

$confession-background: #bcd1dd;
$confession-border: rgb(180, 172, 172);
$confession-text-background: #e3f8f8;
$confession-font: #000;

$navbar: #0d5fc4;
$navbar-font: #fff;

$background-container: #f4f9fa;



// category colors for badge
$secret-color: #ee5253;
$story-color: #10ac84;
$question-color: #ff9f43;