$font-family: "Source Sans Pro", sans-serif;

$white: #fff;
$black: #000;

$primary-color: #222f3e;
$secondary-color: #54a0ff;

$confession-background: #bcd1dd;
$confession-border: rgb(180, 172, 172);
$background-container: #d3d3d3;



// category colors for badge
$secret-color: #ee5253;
$story-color: #10ac84;
$question-color: #ff9f43;