@import "../../styles/variables.scss";


.avatar-edit-btn{
  text-align: right;
  font-size: 16px;
  border-radius: 0.25em;
  margin-left: 0.5em;
  background-color: $button !important;
  border-color: $button !important;
  color: $white;
  font-family: $font_buttons;
}