@import "../../styles/variables.scss";

.myConfessions {
  
    width: 100%;
    margin-left: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    padding-bottom: 15px;
    margin-bottom: 25px;
    margin-top: 2em;

  
}

