@import "../../styles/variables.scss";

.profile{

  &__page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Roboto Slab', serif;
  // font-family: 'Ruda', sans-serif;
  background-color: $background-container;
  color: $confession-font;
  width: 100%;
  height: 100%;
  }

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5em;
  }


}


.username-display{
//  margin-left: 1em;
 margin-bottom: 1rem;
 margin-top: 2rem;
 font-size: 30px;
 
  
}

.about-confessions-container{
  
  display: block;
  margin-top: 2em;
  margin-bottom: 1em;
}

.about-me-label{
  border:3px solid $confession-border;
  // margin-top: 1em;
  // margin-bottom: 1em;
  width: 350px;
  height: 150px;
  // padding-left: 1em;
  // padding-right: 1em;
  // padding-top: 1em;
  // padding-bottom: 3em;
  text-align: left;
  border-radius: 0.25em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.avatar-pic{
  width: 350px;
  height: 350px;
  vertical-align: middle;
  border: 3px ;
  border-radius: 0.25em;
  object-fit: cover;
  border: solid;

  // margin-top: 3em;
  margin-bottom: 1em;
}

// .avatar-pic:hover{
//   // box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
//   // border-radius: 2em;
//   transform: scale(1.2);
// }

.btn-avatar-position{
  text-align: right;
 
}

.btn-avatar{
  border: splid;
  text-align: right;
  // display: inline-block;
  font-size: 16px;
  border-radius: 0.25em;
 
}

.edit_button_position{
  text-align: right;
 
}

.btn-edit{

  border: splid;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.25em;
}

.confession-container{
  margin-top: 5%;
  margin-left: 5em;
  border: solid;
  margin-right: 5em;

  
}
// .btn-avatar{
// display: none;
// }

// .avatar-pic:hover + .btn-avatar{
// display: block;

// }




