@import "../../styles/variables.scss";

.profile{

  &__page {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Roboto Slab', serif;
  // font-family: 'Ruda', sans-serif;
  background-color: $background-container;
  color: $confession-font;
  width: 100%;
  height: 100%;
  }

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5em;
  }


}




.username-display{
//  margin-left: 1em;
 margin-bottom: 1rem;
 margin-top: 2rem;
 font-size: 30px;
 font-family: $font_buttons;
  
}

.about-confessions-container{
  
  display: block;
  margin-top: 2em;
  margin-bottom: 1em;
}

.about_me{
  font-size: 20px;
  font-family: $font_title;
}

.about-me-label{
  border:3px solid 
  $confession-border;
  width: 350px;
  height: 150px;
  text-align: left;
  border-radius: 0.25em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  background-color: $confession-text-background;
  font-family: $font_title;
}

.avatar-pic{
  width: 350px;
  height: 350px;
  vertical-align: middle;
  border-radius: 0.25em;
  object-fit: cover;
  margin-bottom: 1em;

}


.btn-avatar-position{
  text-align: right;
 
}

.btn-avatar{
  border: splid;
  text-align: right;
  font-size: 16px;
  border-radius: 0.25em;
  background-color: $button !important;
  border-color: $button !important;
  color: $white;
  font-family: $font_buttons;
}

.edit_button_position{
  text-align: right;

 
}

.btn-edit{
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.25em;
  background-color: $button !important;
  border-color: $button !important;
  color: $white;
  font-family: $font_buttons;
}

.confession-container{
  margin-top: 5%;
  margin-left: 10em;
  margin-right: 5em;
  width: 100%;
  align-content: center;
}




