@import "../../styles/variables.scss";

.form-container {
background-color: $background-container !important;
border-radius: .50rem; 
}

.confession-form {
  display: flex;
  width: 79%;
  border: 2px outset $confession-border;
  margin-left: 4%;
 
  background-color: $confession-background;

  border-radius: .50rem;


  &__input {
    width: 90%;
    margin-left: 5%;
    
  }

}

.top-header {
  margin-top: 15px;
}

.form-input-box {
  background-color: $confession-text-background !important;
  border-radius: .50rem;
}

.category--secret {
  background-color: $secret-color !important;
  border-color: $secret-color !important;
}

.category--story {
  background-color: $story-color !important;
  border-color: $story-color !important;
}

.category--question {
  background-color: $question-color !important;
  border-color: $question-color !important;
}

.form--buttons {
  display: flex;
  justify-content: space-between;
}

.form--error {
  color: rgba(253, 0, 0, 0.932);
  margin-left: 40%;
}