@import "../../styles/variables.scss";

.confession {
  
  &__article {
    width: 50%;
    align-self: center;
    background-color: $confession-background;
    margin-top: 12px;
    // left align -- disable to center
    // margin-right: 15%;
    border-radius: .50rem;
    border: 2px outset $confession-border 
  }

  &__detail-bottom {
    display: flex;
    justify-content: space-between;
    margin: 5px 5px;
  }

  &__detail-top {
    display: flex;
    justify-content: space-between;
    height: 25px;
    margin: 5px 5px;
    color: $confession-font
  }

  &__title {
    margin-left: 5px;
    color: $confession-font;
  }

  &__created_at {
    color: $confession-font;
    font-family: $font_created_at;
  }

  &__content {
  width: 90%;
  margin-left: 5%;
  background-color: $confession-text-background;
  text-align: left;
  padding-left: 3px;
  border-radius: .50rem;
  }

  &__likes {
    color: $confession-font;
  }


}

.confession__title {
  font-size: larger;
  margin-bottom: -1em;
  padding-bottom: 4px;
  font-family: $font_buttons;
}

.confession-post {
  color: $confession-font;
  padding-left: 5px;
  padding-bottom: 5px;
  font-family: $font_title;
}

.confession__article:hover {
  border: 2px inset $confession-border 
}

.title-right{
  display: flex;

}

.comment-btn {
  background-color: $button !important;
  border-color: $button !important;
  margin-right: 2em;
  font-family: $font_buttons;
}

.like-icon {
  margin-left: 1em;
  color:$white;
}

.like-icon:hover {
  color: rgb(82, 156, 185)
}

.like-icon-liked {
  margin-left: 1em;
  color:#F64C72 !important;
}


.bg-primary.badge--secret {
  background-color: $secret-color !important;
  font-family: $font_buttons;
}

.bg-primary.badge--story {
  background-color: $story-color !important;
  font-family: $font_buttons;
}

.bg-primary.badge--question {
  background-color: $question-color !important;
  font-family: $font_buttons;
}



// .confession {
  
//   &__article {
//     width: 90%;
//     align-self: center;
//     background-color: rgb(71, 71, 75);
//     margin-top: 10px;
//     border-radius: .25rem;
//   }

//   &__detail-bottom {
//     display: flex;
//     justify-content: space-between;
//     margin: 5px 5px;
//   }

//   &__detail-top {
//     display: flex;
//     justify-content: space-between;
//     height: 25px;
//     margin: 5px 5px;
//     color: white
//   }

//   &__content {
//   width: 90%;
//   margin-left: 5%;
//   background-color: rgb(221, 217, 217);
//   text-align: left;
//   padding-left: 3px;
//   border-radius: .25rem;
//   }

//   &__likes {
//     color: white
//   }

// }


// .bg-primary.badge--secret {
//   background-color: rgb(224, 59, 59) !important;
// }

// .bg-primary.badge--story {
//   background-color: rgb(56, 141, 56) !important;
// }

// .bg-primary.badge--question {
//   background-color: rgb(38, 38, 148) !important;
// }