@import "../../styles/variables.scss";

.form-container {
  display: flex;
  background-color: $background-container !important;
  justify-content: center;
  // align-self: center;
  // width: 80%;
}

.confession-form {
  // display: flex;
  // flex: 1;
  width: 49%;
  margin-left: 2em;
  margin-top: 10px;
  background-color: $confession-background;
  border: 2px outset $confession-border;
  border-radius: .50rem;
  font-family: $font_title;


  &__input {
    width: 90%;
    margin-left: 5%;
    font-family: $font_title;
  }

}


#dropdown-basic {
  background-color: $button ;
  border-color: $button ;
  font-family: $font_buttons;

}

.confession-btn {
  background-color: $button !important;
  border-color: $button !important;
  font-family: $font_buttons;
}

.top-header {
  margin-top: 15px;
  font-family: $font_buttons;
}

.form-input-box {
  background-color: $confession-text-background !important;
  border-radius: .50rem;
  // resize: none;
  color: $confession-font !important;
  font-family: $font_title;
}

.category--secret {
  background-color: $secret-color !important;
  border-color: $secret-color !important;
  font-family: $font_buttons;
}

.category--story {
  background-color: $story-color !important;
  border-color: $story-color !important;
  font-family: $font_buttons;
}

.category--question {
  background-color: $question-color !important;
  border-color: $question-color !important;
  font-family: $font_buttons;
}

.form--buttons {
  display: flex;
  justify-content: space-between;
  font-family: $font_buttons;
}

.form--error {
  color: rgba(253, 0, 0, 0.932);
  margin-left: 40%;
}