.options {

  &__container {
    display: flex;
    flex-direction: row;
    margin-left: 15%;

  }

  &__content {
    border:rgb(20, 13, 13);
    border-style: solid;
    border-width: 1px 1px;
    border-radius: .25rem;
    outline: none;  
    height: 100%;
    width: 80%;
    color: rgb(20, 13, 13);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding-left: 0.5em;
    padding-top: 0.1em;
    margin: 1%;
  // width: 80%;
  // padding-left: 5px;
  // background-color: rgb(118, 150, 219);
  // text-align: center;
  // // display: flex;
  // // align-self: center;
  // border-radius: .25rem;
  // border: solid;
  // border-width: 1px 1px;
  // height: 100%;
  // width: 80%;
  // color: rgb(20, 13, 13);
  // font-size: 1rem;
  // font-weight: bold;
  
  }
  
  // &__votes_main {
  //   padding: 0.5em;
  //   margin: 1%;
  //   text-align: center;
  //    // margin-top: 10px;
  //   // padding-left: 3px;
  // }

  &__votes_main {
   
    border:rgb(20, 13, 13);
    border-style: solid;
    border-width: 1px 1px;
    border-radius: .25rem;
    outline: none;  
    height: 100%;
    // width: 80%;
    color: rgb(20, 13, 13);
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5em;
    margin: 1%;
    // margin-top: 10px;
    // padding-left: 3px;
    // background-color: rgb(118, 150, 219);
    // text-align: center;
    // font-size: 16px;
    // display: flex;
    // align-self: center;
    // border-radius: .25rem;
    // border: none;
    // border-radius: 50%;
    // padding: 0.5em;
    // margin: 2%;
  }

    &__test{
      // margin-left: 20%;
      border:rgb(20, 13, 13);
      border-style: solid;
      border-width: 1px 1px;
      border-radius: .25rem;
      outline: none;  
      height: 100%;
      width: 80%;
      color: rgb(20, 13, 13);
      font-size: 1rem;
      font-weight: bold;
      padding: 0.5em;
      margin: 1%;
    }

}

.options__test:hover{
  border-color:royalblue;
  box-shadow: 5px 5px rgb(197, 197, 202);
}

:where(.fas.fa-flag, .fas.fa-retweet, .fas.fa-heart):hover{
  color: RGB(204, 170, 43);
  cursor: grab;
}

