@import "../../styles/variables.scss";

.options {

  &__container {
    display: flex;
    flex-direction: row;
    // height: 50px;
    // position: relative;
    // border: 1px, solid green;

    margin-left: auto;

  }
  
  &__content {
    border:rgb(20, 13, 13);
    border-style: solid;
    border-width: 1px 1px;
    border-radius: .50rem;
    outline: none;  
    width: 80%;
    box-sizing: border-box;
    color: rgb(185, 199, 201);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: none;
    margin: 1%;
    font-family: $font_title;
    background-color: $confession-text-background;
  

  }

  &__votes_main {
    width: 10%;
    border:rgb(20, 13, 13);
    border-style: solid;
    border-width: 1px 1px;
    border-radius: .50rem;
    outline: none;  
    text-align: center;
    color: rgb(185, 199, 201);
    font-size: 1rem;
    font-weight: bold;
    font-family: $font_title;
    padding: 0.5em;
    margin: 1%;
    background-color: $confession-text-background;
  
  }

    &__test{
      
      border:rgb(20, 13, 13);
      border-style: solid;
      border-width: 1px 1px;
      border-radius: .50rem;
      outline: none;  
      height: 100%;
      width: 80%;
      color: rgb(20, 13, 13);
      font-size: 1rem;
      font-weight: bold;
      font-family: $font_title;
      padding: 0.5em;
      margin: 1%;
      font-family: 'Ruda', sans-serif;
    }

    &__test__user {
      border-color:rgb(20, 13, 13);
      border: 1px outset rgb(20, 13, 13);
      border-radius: .25rem;
      outline: none;  
      height: 100%;
      width: 80%;
      color: rgb(20, 13, 13);
      font-size: 1rem;
      font-weight: bold;
      font-family: $font_title;
      padding: 0.5em;
      margin: 1%;
      font-family: 'Ruda', sans-serif;
      background-color: #5da2d5;
      // 
    }

}

.options__test__user:hover{
  border: 2px inset;
  border-color:#FF652F; 
}


// :where(.fas.fa-flag, .fas.fa-retweet, .fas.fa-heart):hover{
//   color: RGB(204, 170, 43);
//   cursor: grab;
// }

