.options {
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 100%;
    border: 2px outset; 
   
   
    // background-color: #bcd1dd;
  
    border-radius: .25rem;
 
    
  }

  &__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__add_remove{
    display: flex;
    justify-items: self-end;
    align-self: flex-end;
    padding: 0.5em;
  }

  &__add{
    padding: 0.2em;
  }

  &__remove{
    padding: 0.2em;
  }

  &__submit{
    display: flex;
    justify-items: self-end;
    // align-self: flex-end;
    padding: 0.7em;
    
 }

}

.options__form:hover{
  // border-color:royalblue;
  box-shadow: 5px 5px rgb(197, 197, 202);
}
