@import "../../styles/variables.scss";

.options {
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 90%;
    margin-left: 5%;
    // border: 2px outset $confession-border; 
   
   
    // background-color: #bcd1dd;
  
    border-radius: .25rem;
 
    
  }

  &__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__add_remove{
    display: flex;
    justify-items: self-end;
    align-self: flex-end;
    padding: 0.5em;
  }

  &__add{
    padding: 0.2em;
    
  }



  &__remove{
    padding: 0.2em;
  }

  &__submit{
    display: flex;
    justify-items: self-end;
    // align-self: flex-end;
    padding: 0.7em;
    
    
 }



}

.options--input {
  width: 95% !important;
  margin-left: 2.5%;
  background-color: $confession-text-background !important;
  margin-top: 8px;
  color: $confession-font !important;
}

.option--btn {
  background-color: $button !important;
  border-color: $button !important;
}

.options__form:hover{
  // border-color:royalblue;
  // box-shadow: 5px 5px rgb(197, 197, 202);
}



