.login-show {
  display: block;
  position: absolute;
  margin-left: 35%;
  transition: 800ms;
  opacity: 1;
}

.login-show.login-active {
  transform: translateY(100px) scale(0) rotateY(180deg);
  opacity: 0;
}


.loginfrom_style{
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  text-align: left;
  padding-left: 3px;
  border-radius: .25rem;
  }