@import "../../styles/variables.scss";

.login-input {
  border-radius: .50rem;
  border: none !important;
  
  // visibility: visible;
}

.login-show {
  display: flex;
  justify-content: center;
  transition: 800ms;
  opacity: 1;
  margin-top: 3%;
  width: 150%;
  // position: absolute;
}

.login-show.login-active {
  // transform: translateY(100px) scale(0) rotateY(180deg);
  transform: translateY(100px) scale(1) ;
  opacity: 0;
  position: absolute;
}

.login-btn {
  background-color: $button !important;
  border-color: $button !important;
}

.loginform_style{
  background-color: $login-register;
  text-align: left;
  padding-left: 3px;
  border-radius: .75rem;
  color: $login-register-font;
  padding: 20px 20px;
  }

  .login-form--error {
    color: rgba(253, 0, 0, 0.932);
    margin-left: 35%;
  }