@import "../../styles/variables.scss";

.link, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.navbar-top {
  background-color: $navbar !important;
  color: $white !important;
  // background-color: #000 !important;
}

.nav-font {
  color: $white !important;
}

#basic-nav-dropdown {
  color: $white !important;
}

.nav-font-confessions{
  // background-color: #4056a1;
  font-size: 30px;
  color: whitesmoke;
  border-radius: 20px;
  margin-top: 1em;
  padding: 14px 25px;
  font-style: italic;
  text-decoration: none;
  
}
