@import "../../styles/variables.scss";

.link, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.navbar-top {
  background-color: $navbar !important;
  color: $white !important;
  // background-color: #000 !important;
}

.nav-font {
  color: $white !important;
}

#basic-nav-dropdown {
  color: $white !important;
}

.category-dropdown {
  text-decoration: none !important;
  color: rgb(75, 73, 73);
}