


  .chat-form{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    text-align: left;
    padding-left: 3px;
    color: rgb(57, 29, 74);
    font-family: Arial, sans-serif;
  }


  .chat_message_container{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    text-align: left;
    padding-left: 3px;
    color: rgb(57, 29, 74);
    font-family: Arial, sans-serif;
   
  }

  .footer__btn{
    background-color: rgb(57, 29, 74);
    color: white;
    padding: 15px;
    border-color: whitesmoke;
    font-family: Arial, sans-serif;
  }
