.chat-form{
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  text-align: left;
  padding-left: 3px;
  border-radius: .25rem;
  }

  .btn{

    display: inline-flex;
    border: 2px;
    position: relative;
    border: none;
    vertical-align: middle;

  }

  .loginfrom_style{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    text-align: left;
    padding-left: 3px;
    border-radius: .25rem;
    }