@import "../../styles/variables.scss";

.pollsitem {
  

  &__items {
    // width: 67%;
    display: flex;
    width: 49%;
    margin-left: 26%;
    flex-direction: column;
    margin-top: 12px;
    border: solid $confession-border;
    border-radius: .50rem;
    background-color: $confession-background;
    border: 2px outset $confession-border; 
    color: $confession-font !important;
  }


  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1% 1%;
    margin-bottom: -2%;
  }

  &__created_at {
    font-family: $font_created_at;
    color: $confession-font !important;
  }


  &__content {
    border: none;
    width: 78%;
    padding: 0.5em;
    margin-top: 2%;
    margin-left: 5%;
    font-size: larger;
    font-family: $font_buttons;
  }

  &__options {
    border: none;
    width: 78%;
    padding: 0.5em;
    margin-left: 2%;
   
  }

  &__votes{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 1%;
    color: $confession-font !important;
    font-family: $font_buttons;
    
  }

  &__total_votes_myDIV {
    padding-right: 0.5em;
    font-family: $font_buttons;
  }

  &__total_votes_hide {
    padding-left: 0.5em;
    font-size: 16px;
    font-family: $font_buttons;
  
  }

}

.pollsitem__total_votes_hide{
  display: none;
}

.pollsitem__total_votes_myDIV:hover + .pollsitem__total_votes_hide{
  display: block;
  color: #F64C72;
}

.pollsitem__items:hover{
  border: 2px inset $confession-border 
}

.bg-primary.badge--question {
  background-color: $question-color !important;
}