@import "../../styles/variables.scss";

.polls {

  &__container {
    display: flex;
  background-color: $background-container !important;
  justify-content: center;
  }

  &__form {
  
    width: 49%;
    margin-left: 1em;
    margin-top: 10px;
    border: 2px outset $confession-border; 
    background-color: $confession-background;

    border-color: $confession-border;
    border-radius: .50rem;
    border: 2px outset $confession-border 
 
    
  }

  &__title{
    padding: 0.2em;
    margin-left: 0.2em;
    font-family: 'Ruda', sans-serif;
  }

  &__add_options{
    padding: 0.5em;
    font-family: 'Ruda', sans-serif;
    // background-color: transparent;
  }
}

.polls__form:hover{
  border: 2px inset $confession-border 
}

#input-form {
  width: 90%;
  margin-left: 5%;
  background-color: $confession-text-background;
}

.poll-button {
  background-color: $button !important;
  border-color: $button !important;
}