.polls {
  &__form {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 79%;
    border: 2px outset; 
    margin-left: 10%;
   
    background-color: #bcd1dd;
  
    border-radius: .50rem;
 
    
  }

  &__title{
    padding: 0.2em;
    margin-left: 0.2em;
  }

  &__add_options{
    padding: 0.5em;
  }
}